<%= form_for :order, :url => populate_orders_path do |f| %>
    <thead>
    <tr>
      <td>Марка</td>
      <td>Артикул</td>
      <td>Количество</td>
      <td>Поставка а магазин</td>
      <td>Цена</td>
    </tr>
    </thead>
<%end%>